.App {
  flex: 1;
  min-height: 100vh;
  justify-content: space-between;
}

.App-logo {
  height: 5vmin;
  width: auto;
  padding-left: 2vw;
  padding-top: 2vh;
}

.App-header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
}

.container {
  min-height: 50vh;
  width: 100vw;
  margin-top: 25vh;
  padding-bottom: 15vh;
  justify-content: center;
  display: flex;
  margin: 0px;
}

.post-box {
  background: #fff;
  padding: 40px 40px 40px;
  margin-top: 100px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
  width: 75vw;
}

.expanded-container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  background: transparent;
}


.row {
  display: flex;
  flex: 1;
  width: 70vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.panel {
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.panel-title-text {
  display: block;
  padding: 0;
  font-size: 24px;
  color: #373e45;
}

.job-text {
  color: #9093a1;
  letter-spacing: .2px;
  font-size: 16px;
  line-height: 1.86;
}

.jobs-footer {
  background-color:#0056da;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  display: flex;
  flex: 1;
  width: 100vw;
  height: 10vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-title {
  line-height: 1.33;
  font-weight: 600;
  font-size: 26;
  color: #fff;
}

.footer-text {
  letter-spacing: .2px;
  color: #fff;
  font-size: 14;
}

.social-icon {
  color: #28cc8b;
  background: #fff;
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  line-height: 32px;
}